<ion-view title="Music">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list" data-ng-repeat="event in eventss |limitTo: 7" style="margin-bottom: 0">

      <a class="item item-divider item-icon-right" ng-href="{{event.uri}}">
       <h2 style="font-weight: bold;">{{event.venue.displayName}}</h2>
       <h2>{{now}} {{day}}, {{year}} | {{event.start.time|time}}</h2>
       <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <div class="item item-icon-right" ng-href="{{artist.artist.uri}}" ng-repeat="artist in event.performance">
        <p>{{artist.displayName}}</p>
      </div>

    </div>

  </ion-content>
</ion-view>
