<ion-view title="{{title}}">

<ion-content>
  <div class="list card">

  <div class="item">
    <h2>{{title}}</h2>
    <p style="overflow: initial;
    white-space: initial;">{{des}}</p>
  </div>

  <div class="item item-image">
    <img src="{{pic}}">
  </div>

  <div class="item foos" href="">
    <a href="http://maps.google.com/maps?saddr=Current%20Location&daddr={{lat}},{{long}}">Address: {{add}}</a>
    <br>
    Phone: {{phone}}
    <br>
    Price: {{price}}
  </div>

</div>

</ion-content>