<ion-view title="To-Do List" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="showTaskPrompt();" class="button button-icon icon ion-plus"></button>
  </ion-nav-buttons>

<ion-content>
  <div class="content padding" ng-show="items.length === 0">
    <h2>All is good in the world.</h2>
  </div>
  <ion-list can-swipe="true">
    <ion-item ng-repeat="item in items">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <ion-option-button class="button-positive" ng-click="completeItem(item)">
        Done
      </ion-option-button>

    </ion-item>
  </ion-list>
</ion-content>

<script id="task-prompt.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <h1 class="title">Add New Task</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="task title" ng-model="newTask.title">
        </label>
        <label class="item item-input">
          <textarea placeholder="task description" ng-model="newTask.description"></textarea>
        </label>
      </div>

      <div class="row">
        <div class="col"><button ng-click="saveTask()" class="button button-full icon-left ion-checkmark-circled button-balanced">Save Task</button></div>
        <div class="col"><button ng-click="cancelTask()" class="button button-full icon-left ion-close-circled button-assertive">Cancel</button></div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>