* {
  font-family: 'Lato', sans-serif;
}


.ryanBackground {
  background: url(https://s3.amazonaws.com/uploads.hipchat.com/39979/1252803/dB2HQYo55pSKyBb/2x.png) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  width: 100%;
  opacity: .9;

  -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content h2{
  font-family: 'Lato', sans-serif;
}
.item h2{
 font-family: 'Lato', sans-serif;
}
.item h3{
 font-family: 'Lato', sans-serif;

}
.title{
 font-family: 'Lato', sans-serif;
 font-weight: bold;
}

.item p{
  font-family: 'Lato', sans-serif;
}

.item-divider {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
}

.item .item-content.activated {
    background-color: #fafafa
}


.foos {
  font-size: 12px;
}

/*TIC TAC*/
.turn{
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.end {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}


#gameBoard {
  font-family: 'Lato', sans-serif;
  width: 282px;
  height: 282px;
  margin: auto;
}

#gameBoard .cell {
  vertical-align: bottom;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

.row {
  margin-top: 30px;
}

#topRow .cell {
  border-top: none;
}

#bottomRow .cell {
  border-bottom: none;
}

#gameBoard .row .cell:first-child {
  border-left: none;
}

#gameBoard .row .cell:last-child {
  border-right: none;
}


/*hangman*/
.letters {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  text-align: center;
}
.letter {
  display: inline-block;
  width: 30px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.guessed {
  width: 25px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.words h3 {
  font-family: 'Lato', sans-serif;
  margin-left: 4px;
  margin-top: 0;
  margin-bottom: 0;

}

.whole {
  margin-top: 10px;
  margin-left: 50px;
}
.spaced {
  width: 25px;
  height: 2px;
  display: inline-block;
  border-bottom: 1px solid black;
  margin-right: 5px;
}

.msg {
  margin-top: 20px;
  margin-left: 50px;
}
.msg h3 {
  font-family: 'Lato', sans-serif;
}

.winner h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: blue;
}



