* {
  font-family: 'Lato', sans-serif;
}

.content h2{
  font-family: 'Lato', sans-serif;
}
.item h2{
 font-family: 'Lato', sans-serif;
}
.item h3{
 font-family: 'Lato', sans-serif;

}
.title{
 font-family: 'Lato', sans-serif;
 font-weight: bold;
}

.item p{
  font-family: 'Lato', sans-serif;
}

.item-divider {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
}

.item .item-content.activated {
    background-color: #fafafa
}


.foos {
  font-size: 12px;
}































/*TIC TAC*/
.turn{
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.end {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}


#gameBoard {
  font-family: 'Lato', sans-serif;
  width: 282px;
  height: 282px;
  margin: auto;
}

#gameBoard .cell {
  vertical-align: bottom;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

.row {
  margin-top: 30px;
}

#topRow .cell {
  border-top: none;
}

#bottomRow .cell {
  border-bottom: none;
}

#gameBoard .row .cell:first-child {
  border-left: none;
}

#gameBoard .row .cell:last-child {
  border-right: none;
}




/*hangman*/
.container {
  position: relative;
}


menu {
  padding: 30px;
  background: @gray-lighter;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 20px;
  label {
    color: @gray;
    padding-right: 10px;
    font-weight: bold;
  }

  .available-letters {
    width: 100%;
    div {
      color: white;
      cursor: pointer;
      padding: 3px;
      display: inline-block;
      background: @gray-light;
      margin: 3px;
      width: 40px;
      text-align: center;
      border-radius: 3px;
    }
  }
}

line, circle {
  stroke: black;
  stroke-width: 4;
}

.word {
  text-align: center;
  font-size: 80px;
  margin-top: 25px;
}

.underlined-letter {
    height: 120px;
    width: 50px;
    display: inline-block;
    position: relative;
    margin: 0px 15px;
}
    .letter {
      color: @gray;
      height: 100px;
      width: 50px;
  }
      .invisible {
        visibility: hidden;
      }

.underline {
  border-bottom: 5px solid black;
}



